<div class="flex justify-content-center align-items-center flex-wrap">
  <p-card
    header="Educação X Saúde"
    [style]="{ width: '360px' }"
    styleClass="p-card-shadow m-2 cursor-pointer"
  >
    <p>Comparação entre a média gasta com educação e saúde no ano de 2022.</p>
    <ng-template pTemplate="footer">
      <button
        pButton
        class="p-button-secondary"
        icon="pi pi-search"
        (click)="solution()"
      ></button>
    </ng-template>
  </p-card>

  <p-card
    header="Assistência Médica e Odontológica"
    [style]="{ width: '360px' }"
    styleClass="p-card-shadow m-2 cursor-pointer"
  >
    <p>
      Proporção do gasto em 2022 com a Assistência Médica e Odontológica aos
      Servidores Civis, Empregados, Militares e seus Dependentes comparado com
      gasto em reforma de hospitais.
    </p>
    <ng-template pTemplate="footer">
      <button
        pButton
        class="p-button-secondary"
        icon="pi pi-search"
        (click)="solution()"
      ></button>
    </ng-template>
  </p-card>

  <p-card
    header="Agricultura"
    [style]="{ width: '360px' }"
    styleClass="p-card-shadow m-2 cursor-pointer"
  >
    <p>
      Área da agricultura que mais gastou no ano de 2022? Comparação entre as 3
      maiores.
    </p>
    <ng-template pTemplate="footer">
      <button
        pButton
        class="p-button-secondary"
        icon="pi pi-search"
        (click)="solution()"
      ></button>
    </ng-template>
  </p-card>

  <p-card
    header="Ensino Superior na UFS"
    [style]="{ width: '360px' }"
    styleClass="p-card-shadow m-2 cursor-pointer"
  >
    <p>
      Quanto foi usado para manter o ensino superior? Quanto deste orçamento foi
      destinado a UFS?
    </p>
    <ng-template pTemplate="footer">
      <button
        pButton
        class="p-button-secondary"
        icon="pi pi-search"
        (click)="solution()"
      ></button>
    </ng-template>
  </p-card>

  <p-card
    header="Saúde de Sergipe?"
    [style]="{ width: '360px' }"
    styleClass="p-card-shadow m-2 cursor-pointer"
  >
    <p>Quanto foi usado para manter a rede pública de saúde de Sergipe?</p>
    <ng-template pTemplate="footer">
      <button
        pButton
        class="p-button-secondary"
        icon="pi pi-search"
        (click)="solution()"
      ></button>
    </ng-template>
  </p-card>

  <p-card
    header="Menor Gasto Orçamentário"
    [style]="{ width: '360px' }"
    styleClass="p-card-shadow m-2 cursor-pointer"
  >
    <p>Área que menos obteve interesse em gastos orçamentários.</p>
    <ng-template pTemplate="footer">
      <button
        pButton
        class="p-button-secondary"
        icon="pi pi-search"
        (click)="solution()"
      ></button>
    </ng-template>
  </p-card>

  <p-card
    header="Poder Legislativo"
    [style]="{ width: '360px' }"
    styleClass="p-card-shadow m-2 cursor-pointer"
  >
    <p>As 5 subfunções que mais houveram gastos.</p>
    <ng-template pTemplate="footer">
      <button
        pButton
        class="p-button-secondary"
        icon="pi pi-search"
        (click)="solution()"
      ></button>
    </ng-template>
  </p-card>

  <p-card
    header="Atenção Básica: UFS X IFS"
    [style]="{ width: '360px' }"
    styleClass="p-card-shadow m-2 cursor-pointer"
  >
    <p>Quem gastou mais em atenção básica em 2022?</p>
    <ng-template pTemplate="footer">
      <button
        pButton
        class="p-button-secondary"
        icon="pi pi-search"
        (click)="solution()"
      ></button>
    </ng-template>
  </p-card>

  <p-card
    header="Tribunal Regional Federal da 1a. Região"
    [style]="{ width: '360px' }"
    styleClass="p-card-shadow m-2 cursor-pointer"
  >
    <p>
      Tribunal Regional Federal da 1a. Região gastou quanto em comparação com
      tudo gasto pela Justiça Federal?
    </p>
    <ng-template pTemplate="footer">
      <button
        pButton
        class="p-button-secondary"
        icon="pi pi-search"
        (click)="solution()"
      ></button>
    </ng-template>
  </p-card>

  <p-card
    header="Esferas"
    [style]="{ width: '360px' }"
    styleClass="p-card-shadow m-2 cursor-pointer"
  >
    <p>Gastos de cada esfera.</p>
    <ng-template pTemplate="footer">
      <button
        pButton
        class="p-button-secondary"
        icon="pi pi-search"
        (click)="solution()"
      ></button>
    </ng-template>
  </p-card>
</div>
